*.ipynb
*.pyc
*.ipynb_checkpoints

build
#docs
#docs/*.rst
#docs/*.py
#docs/_build
#docs/generated
#docs/_static
#docs/_templates
#docs/Makefile

ms_datasets/*
update_forks
beditor/bin/*
beditor/beditor_dependencies/*
beditor.egg-info/*
dist/*

test/test_beditor/*
test/.log*
test_dataset/*

paper/latex.template
paper/.Rhistory
pub
beditor/lib/global_vars_crispror.py
beditor/lib/tmp/
beditor/data/data_feats_aas.txt
beditor/_bin/
beditor/lib/_pub/
beditor/deps/
docs/_build/*
.Rhistory
docs/README.pdf
docs/api.rst
docs/make.bat
beditor/deps.zip
