include beditor/workflow.ipynb
include beditor/beditor.ipynb
include beditor/data/methods.tsv
include beditor/bwa/Makefile
include beditor/bwa/QSufSort.c
include beditor/bwa/QSufSort.h
include beditor/bwa/bamlite.c
include beditor/bwa/bamlite.h
include beditor/bwa/bntseq.c
include beditor/bwa/bntseq.h
include beditor/bwa/bwa.1
include beditor/bwa/bwa.c
include beditor/bwa/bwa.h
include beditor/bwa/bwakit/README.md
include beditor/bwa/bwakit/bwa-postalt.js
include beditor/bwa/bwakit/run-HLA
include beditor/bwa/bwakit/run-bwamem
include beditor/bwa/bwakit/run-gen-ref
include beditor/bwa/bwakit/typeHLA-selctg.js
include beditor/bwa/bwakit/typeHLA.js
include beditor/bwa/bwakit/typeHLA.sh
include beditor/bwa/bwamem.c
include beditor/bwa/bwamem.h
include beditor/bwa/bwamem_extra.c
include beditor/bwa/bwamem_pair.c
include beditor/bwa/bwape.c
include beditor/bwa/bwase.c
include beditor/bwa/bwase.h
include beditor/bwa/bwaseqio.c
include beditor/bwa/bwashm.c
include beditor/bwa/bwt.c
include beditor/bwa/bwt.h
include beditor/bwa/bwt_gen.c
include beditor/bwa/bwt_lite.c
include beditor/bwa/bwt_lite.h
include beditor/bwa/bwtaln.c
include beditor/bwa/bwtaln.h
include beditor/bwa/bwtgap.c
include beditor/bwa/bwtgap.h
include beditor/bwa/bwtindex.c
include beditor/bwa/bwtsw2.h
include beditor/bwa/bwtsw2_aux.c
include beditor/bwa/bwtsw2_chain.c
include beditor/bwa/bwtsw2_core.c
include beditor/bwa/bwtsw2_main.c
include beditor/bwa/bwtsw2_pair.c
include beditor/bwa/code_of_conduct.md
include beditor/bwa/example.c
include beditor/bwa/fastmap.c
include beditor/bwa/is.c
include beditor/bwa/kbtree.h
include beditor/bwa/khash.h
include beditor/bwa/kopen.c
include beditor/bwa/kseq.h
include beditor/bwa/ksort.h
include beditor/bwa/kstring.c
include beditor/bwa/kstring.h
include beditor/bwa/ksw.c
include beditor/bwa/ksw.h
include beditor/bwa/kthread.c
include beditor/bwa/kvec.h
include beditor/bwa/main.c
include beditor/bwa/malloc_wrap.c
include beditor/bwa/malloc_wrap.h
include beditor/bwa/maxk.c
include beditor/bwa/neon_sse.h
include beditor/bwa/pemerge.c
include beditor/bwa/qualfa2fq.pl
include beditor/bwa/rle.c
include beditor/bwa/rle.h
include beditor/bwa/rope.c
include beditor/bwa/rope.h
include beditor/bwa/scalar_sse.h
include beditor/bwa/utils.c
include beditor/bwa/utils.h
include beditor/bwa/xa2multi.pl